@media screen and (min-width: 1400px) {
    .container{
        max-width: 1140px;
    }
}
@media screen and (max-width: 575px) {
    :root{
        --section-gaps: 40px;
    }
    .container{
        padding: 0 15px;
    }
}