@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media screen and (max-width: 1024px) {
    :root {
        --content-padding: 20px;
    }
}
@media screen and (max-width: 575px) {
    .full-width{
        flex-direction: column;
    }
    .full-width .half-width{
        width: 100%;
    }
}